@import '../core/Variables.scss';

.container_img{
    width:100%;
    height: 100vh;
    background-image: url("../../images/background2.png");
    background-size: cover;
    background-position: center;
    margin-top: 180px;
  
    
    
  .container_about{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    align-content: center;
    align-items: center;
    //margin: 40px 0 30px 0;
    //padding-top: 20px;


    .about_title {
        font-family:$font-about;
        font-size: 2em;
        color: $dark_blue;

        @media (min-width: 768px) {
          font-size: 3em;
        }
       
      
        &--one{
        position: relative;
        right: 3.8em;
        bottom:0.8em;
        color: $cyan;
        @media (min-width: 768px) {
          right: 1.95em;
          bottom:0.8em;
        }
    }

        &--two{
        position: relative;
        right: 3.9em;
        bottom:2em;
        color:$pink;
        @media (min-width: 768px) {
          right: 2em;
        bottom:2em;
        }
       
    }

    }
    .about{
        font-family:$font-about;
        color: $dark_blue;
        margin: 0 20px 0 20px;
       
        
        &__subtitle{
        font-size: 1.5em;
        position: relative;
        bottom: 1.5em;
        right: 2.5em;

        @media (min-width: 768px) {
         font-size: 2em;
         right: 0.5em;
        
        }
    }
    &__content{
       width: 300px;
        font-size: 1.2em;
        position: relative;
        bottom: 0.5em;
        left: -1.2em;
        color: $dark_blue;
        
       @media (min-width: 768px) {
        width: 450px;
        left: 4.5em;
        bottom: 0.5em;
        font-size: 1.5em;
      }
      @media (min-width: 1200px) {
        width:680px;
        left:9em;
      }
        
    }
    }
}
}