@import '../core/Variables.scss';

.footer__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @media (min-width: 1200px) {
           flex-direction: row;
           justify-content: space-between;
         

    }

    .icons__container{
        display:flex;
        justify-content: center;
    
        @media (min-width: 1200px) {
            position: relative;
            bottom: -8em;
            margin-left: 140px;
          }
        .icon__border{
             width: 40px;
             height: 40px;
             border-radius: 50%;
             border: solid 2px $pink;
             border-radius: 50%;
             margin: 15px;
             text-align: center;
             @media (min-width: 1200px) {
                margin: 25px;
              }
                &--item{
                     text-decoration: none;
                     font-size: 20px;
                     color: $dark_blue;
                     transform: translateY(30%);
            }
        }
    }

    .footer__img{
        width: 140px;
        align-self: center;
        padding:20px;
        @media (min-width: 1200px) {
           width: 200px;
           margin-top: 60px;
           position:relative;
           left:-1em;
          }
    }
    .mail_text{
     text-decoration: none;
        align-self: center;
        padding:20px;
        margin-bottom: 30px;
        color: $dark_blue;
        font-family: $font-about;
        font-size: 18px;
        @media (min-width: 1200px) {
            position:relative;
            bottom:-1.6em;
            left: -0.8em;
            margin-right: 140px;
           }
    }
}