@import '../core/Variables.scss';

.header{
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.7) ;
    position: fixed;
    top: 0px;
    z-index: 1;
 
  

    .header__menu{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 60px 0 0 0;
        list-style: none;
        margin-top: 20px;
        color:$dark_blue;
        &--link{
        text-decoration: none;
        font-family: $font-about;
        font-size: 0.8em;
        font-weight: 700;
        color:$dark_blue;
        cursor: pointer;
        @media (min-width: 768px) {
            font-size: 1em;
          }
        
          &--link:visited{
            color:$dark_blue;
          }
    }
    &--img{
        width:120px;
        position: relative;
        top:-50px;
        @media (min-width: 768px) {
            width: 140px;
          }
    }
    }
}