@import '../core/Variables.scss';


.search__container{
    display: flex;
    flex-direction: column;
    align-items: center;

.title_projects{
    padding:30px;
    font-family: $font-about;
    font-size: 1.4em;
    font-weight: 700;
    color: $dark_blue;
  }
  .input__container{
    display:flex;
        .filterInput_title{
        font-family: $font-about;
        font-size: 1em;
        margin-right: 10px;
        color: $dark_blue;
}
        .filterInput_value{
         width: 200px;
         height: 30px;
         border-radius: 15px;
         padding: 10px;
         font-family: $font-about;
         border: none;
         position: relative;
         top: -3px;
         border: 2px solid $dark_blue;
         //box-shadow: 0 1px 7px 0 #7b878e, 0 1px 3px 0 #ffff;

}
}
}

.not_found {
    text-align: center;
    font-family: $font-about;
    color: $dark_blue;
    font-size: 1em;
    padding: 15px;
}
  